.wrapper{
    display:flex;
    height:100%;
    position:fixed;
}
.sidebar{
    background-color:#424146;
    padding: 10px;
    width:250px;
}
.list {
    list-style-type: none;
    padding: 0px;
}
body{
    background-color: #1d1b26;
    color:white;
    min-height:100%;
}
.list li {
    font-size: 1em;
}
.list div{
    padding:10px;
}

.list li div:hover{
    border-radius:4px;
    background-color: rgb(53, 50, 50);
}

.ui.menu{
    border: 0px;
    background-color: transparent;
}
.list .active{
    border-radius:4px;
    background-color: rgb(53, 50, 50);
}
.nav-icon{
    background-color: transparent;
    border:0px;
    padding: 3px;
    border-radius:5px;
    color:#adadad;
}
.nav-icon:hover{
    background-color: rgb(53, 50, 50);
}
.folder-large{
    margin: 10px 10px 20px 10px;
    text-align: center;
}
.folder-large i {    
    padding:5px;
    font-size: 5em;
}

.folder-large i:hover{    
    color:rgb(197, 197, 197)
}
.folder-name{
    margin-top: -20px;
}
.explorer{
    display: grid;
    padding:20px;
    grid-template-columns: repeat(8,1fr);
}

.context-menu{
    list-style: none;
    padding:0px;
}
.context-menu li{
    padding:5px;
    padding:5px 15px 5px 5px;
}
.context-menu li:hover{
    cursor: pointer;
    background-color: rgb(212, 212, 212);
}


.modal {
    display: none;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
    position: fixed;
    z-index: 100000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
  }
  
  .modal-content {
    
    border-radius:4px;
    overflow: hidden;
    margin: 15% auto; 
    width: 25%; 
  }

  .menu{
      padding:5px;
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }