.wrapper{
    display:flex;
    height:100%;
    width:100%;
    position:fixed;
}
.sidebar{
    background-color:#424146;
    padding: 10px;
    width:250px;
}
.list {
    list-style-type: none;
    padding: 0px;
}
body{
    background-color: #1d1b26;
    color:white;
    min-height:100%;
}
.list li {
    font-size: 1em;
}
.list div{
    padding:10px;
}

.list li div:hover{
    border-radius:4px;
    background-color: rgb(163, 160, 160);
}

.ui.menu{
    border: 0px;
    background-color: transparent;
}
.list .active{
    border-radius:4px;
    background-color: rgb(53, 50, 50);
}
.nav-icon{
    background-color: transparent;
    border:0px;
    padding: 3px;
    border-radius:5px;
    color:#adadad;
}
/* .folder-large.active i{
   color: rgb(144, 144, 144);
}
.folder-large.active span{
      color:rgb(0, 119, 255);
} */
.nav-tool-icon{
    background-color: transparent;
    border:0px;
    font-size:1.3em;
    padding: 8px;
    border-radius:5px;
    color:#adadad;
}
.nav-icon:hover ,.nav-tool-icon:hover{
    background-color: rgb(53, 50, 50);
}
.folder-large{
    margin: 10px 10px 20px 10px;
    text-align: center;
}
.explorer  .folder-large i {    
    padding:5px;
    font-size: 5em;
}

.folder-large i:hover{    
    color:rgb(197, 197, 197)
}
.folder-name{
    margin-top: -20px;
}
.explorer{
    display: grid;
    padding:20px;
    grid-template-columns: repeat(8,1fr);
}
.explorer .folder-name{
    display: block;
}

.list-explorer .folder-name{
    font-size: 1.3em;
}
.list-explorer  .folder-large{    
        text-align:left;    
}
.list-explorer  .folder-large i {    
    font-size: 2em;
}


.context-menu{
    list-style: none;
    padding:0px;
}
.context-menu li{
    padding:5px;
    padding:5px 15px 5px 5px;
}
.context-menu li:hover{
    cursor: pointer;
    border-radius: 4px;
    background-color: rgb(212, 212, 212);
    background-color: rgb(0, 180, 9);

}
.window-icon{
    margin:0px 0px 5px 5px;
}

.modal {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
    position: fixed;
    z-index: 100000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
  }
  .modal-show{
      display: block;
  }
  .modal-hide{
    display: none;
  }
  .modal-content {
    
    border-radius:4px;
    overflow: hidden;
    margin: 15% auto; 
    width: 25%; 
  }

  .menu{
      padding:5px;
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }


  .path-tag{
      display: inline;
      padding: 5px 15px 5px 15px;
      font-size: 1em;
      color:rgba(255, 255, 255, 0.671);
      border:1px solid  rgba(202, 202, 202, 0.5);
  }


  .searchBtn-nav{
      margin-left: auto;
    color:rgba(255, 255, 255, 0.671);
  }



  #nav-search{
      margin: 0px 10px 0px 0px ;
  }