.list {
    list-style-type: none;
    padding: 0px;
}
body{
    background-color: #1d1b26;
    color:white;
}
.list li {
    font-size: 1em;
}
.list div{
    padding:10px;
}

.list li div:hover{
    background-color: rgb(53, 50, 50);
}

.ui.menu{
    border: 0px;
    background-color: transparent;
}
.active{
    background-color: rgb(53, 50, 50);
}
.nav-icon{
    background-color: transparent;
    border:0px;
    padding: 3px;
    border-radius:5px;
    color:#adadad;
}
.nav-icon:hover{
    background-color: rgb(53, 50, 50);
}
.folder-large{
    margin: 10px 10px 20px 10px;
    text-align: center;
}
.folder-large i {    
    padding:5px;
    font-size: 5em;
}

.folder-large i:hover{    
    color:rgb(197, 197, 197)
}
.folder-name{
    margin-top: -20px;
}
.explorer{
    display: grid;
    grid-template-columns: repeat(8,1fr);
}
